.month {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.day {
    background-color: rgba(191, 191, 191, 0.426);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    font-size: 20px;
    text-align: center;
}

a.link {
    color: black;
    text-decoration: none;
}

a.link:hover {
    color: black;
    font-weight: bold;
}

.red {
    color: red;
}

th,
td {
    border: 1px solid black;
    text-align: center;
    padding: 20px;
}


.part_3_table {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
}

.part_3_case {
    background-color: rgba(191, 191, 191, 0.426);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 2px;
    font-size: 20px;
    text-align: center;
}